* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: ;
    height: 150px;
    
}

.title-logo {
    width: 10%;
}