* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-head{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: center;
    height: 120px;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    width: 1500px;
    margin: center;
}

.title-logo {
    width: 10%;
    margin-top: 50px;
}

.grey-font {
    color: #8c8c8c;
}

.blue-font {
    color: #6dc6ee;
}

figcaption {
    font-size: small;
}

.section-margin{
    margin-bottom: 20px;
}

.underlined {
    background-color: yellow;
}

.list {
    padding-left: 20px;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

table, td {
    padding: 20px;
}

.tablestuff{
    background-color: #b1e5f2;
}

th {
    background-color: #4ea0ff;
    color: aliceblue;
    text-align: left;
}

.footerstuff-01 {
    font-size: 20px;
    margin-top: 10px;
    color: aliceblue;
    width: 250px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-position: cover;
}


.footerstuff-02 {
    font-size: 20px;
    margin-top: 10px;
    color: aliceblue;
    width: 250px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-position: cover;
}